# Visual Studio cache / local settings
.vs/
**/.vs/

# Build output
**/bin/
**/obj/

# NuGet packages
*.nupkg
**/packages/
*.nuget.props
*.nuget.targets

# User-specific files
*.user
*.suo
*.userprefs

# Publish output
**/publish/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
